body {
    font-family: 'Bodoni Moda', serif;
  }
  
  h1 {
    font-family: 'Bodoni Moda', serif; /* Font family and fallback */
    font-weight: 400;                 /* Font weight */
    font-style: italic;               /* Font style */
    font-size: 30vw;
  }
  
  p {
    font-family: 'Bodoni Moda', serif; /* Font family and fallback */
    font-weight: 400;                 /* Font weight */
    font-style: italic;               /* Font style */
  }


  button {
    background-color: #e291a3; /* Button background color */
    color: white;              /* Button text color */
    padding: 1vw 2vw;        /* Button padding */
    font-size: 20vw;           /* Button text size */
    border: none;              /* Remove default button border */
    border-radius: 5vw;        /* Rounded corners */
    cursor: pointer;           /* Cursor changes to pointer when hovering */
    transition: background-color 0.3s; /* Smooth transition on hover */
  }

  /* Hover effect */
  button:hover {
    background-color: #0056b3; /* Darker background on hover */
  }