body {
    font-family: 'Bodoni Moda', serif;
  }
  
  h1 {
    font-family: 'Bodoni Moda', serif; /* Font family and fallback */
    font-weight: 400;                 /* Font weight */
    font-style: italic;               /* Font style */
  }
  
  p {
    font-family: 'Bodoni Moda', serif; /* Font family and fallback */
    font-weight: 400;                 /* Font weight */
    font-style: italic;               /* Font style */
  }